.list-view {
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
  place-items: center;
  justify-content: center;
  background: var(--primary);
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.responseScreen {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    height: 100%;
}

.title-btns-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 40px;
}

.collection-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 96px;
  line-height: 121%;
  text-transform: uppercase;
  color: var(--secondary);
  padding-left: 40px;
  transition: 0.3s ease;
  width: fit-content;
}

.collection-title:hover {
  letter-spacing: 4px;
  cursor: default;
}

.filter-sort-btns {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 26px
}

.search-input {
    display: flex;
    align-items: center;
    background-color: #f1efeb;
    border-radius: 100px;
    border: 1px solid #000;
    box-shadow: none;
    width: 140px;
    height: 38px;
    outline: none;
    padding: 0 15px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-input::placeholder {
    color: black;
    font-size: 16px;
}

.sort-btn {
    cursor: pointer;
    border: 1px solid var(--secondary);
    border-radius: 99px;
    padding: 12px 16px;
    width: 110px;
    height: 36px;
    background: var(--secondary);
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


@media only screen and (max-width: 1124px) {
  .collection-title {
    font-size: 80px;
    padding: 15px 10px 0;
  }

  .filter-sort-btns {
    padding-bottom: 22px;
  }
}

@media only screen and (max-width: 984px) {
  .collection-title {
    font-size: 58px;
    padding: 15px 10px 0;
  }

  .filter-sort-btns {
    padding-bottom: 12px;
  }

  .title-btns-container {
    align-items: center;
    padding-left: 40px;
    flex-direction: column;
  }
}

@media only screen and (min-width: 461px) and (max-width: 984px) {
    .collection-title {
        padding-bottom: 16px;
    }
}

@media only screen and (max-width: 460px) {
    .collection-title {
        font-size: 50px;
    }

    .title-btns-container {
        gap: 15px;
    }

    .filter-sort-btns {
        flex-direction: column;
        width: 300px;
        align-items: flex-end;
    }
}
