.main-reset-password_container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    min-height: 60vh;
}

.reset-password-container{
    width: 354px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.reset-password-button {
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid var(--secondary);
    border-radius: 99px;
    padding: 12px 16px;
    width: 354px;
    height: 48px;
    margin-top: 30px;
    font-size: medium;
    color: white;
    background: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(124, 120, 120, 0.19);
}

.input-label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 156%;
    color: var(--secondary);
    text-transform: uppercase;
    width: 100%;
}

.reset-password-container .input-div {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    gap: 8px;

}

.inputCustom {
    border-radius: 99px;
    padding: 10px 24px;
    width: 354px;
    height: 48px;
    background: var(--background);
    border: none;
}

.inputCustom:hover, .inputCustom:focus, .inputCustom:active {
    outline: none;
}

.error-paragraph{
    position: absolute;
    top: 0;
    font-size: small;
    color: red;
}

.reset-password-title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 96px;
    line-height: 121%;
    text-transform: uppercase;
    color: var(--secondary);
    padding: 0 40px;
    transition: 0.3s ease;
}

.reset-password-title:hover {
    letter-spacing: 4px;
    cursor: default;
}

.small-txt-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.small-txt {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: var(--secondary);
}

.forgot-btn {
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--secondary);
    border-radius: 99px;
    padding: 0 8px;
    height: 24px;
    background: none;
    color: var(--secondary)
}

@media only screen and (max-width: 768px) {
    .reset-password-title {
        font-size: 50px;
        padding: 15px 10px 0;
    }
}



