.contact {
  padding: 50px 12%;
  background: black;
  margin-top: 50px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  gap: 2rem;
  margin-bottom: 3rem;
}

.contact-content a {
  color: white;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
  transition: all 0.5s ease-in-out;
  list-style: none;
  scroll-behavior: smooth;
  text-decoration: none;
  width: fit-content;
  margin-right: auto;
}

.contact-content a:hover {
  text-decoration: underline;
}

.last {
  width: 100%;
  text-align: center;
  padding: 17px;
  opacity: 70%;
}

.last p {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}

.contact-content a:hover {
  text-decoration: underline;
}

@media (max-width: 560px) {
  .contact {
    margin-top: 7rem;
  }
  .main-content {
    margin-top: 5%;
  }
}
